---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const projects = [
    {
    title: "Mi Portfolio Personal",
    description: "La web que est치s viendo ahora mismo. Desarrollada con Astro para asegurar la m치xima velocidad (100/100 en Lighthouse) y CSS moderno. Totalmente responsive y accesible.",
    link: "https://github.com/CarlosJavMerino/mi-portfolio.git"
  },
  {
    title: "Aqualog",
    description: "AquaLog es una aplicaci칩n completa para buceadores desarrollada en Flutter. Permite registrar inmersiones, gestionar el equipo de buceo y consultar las condiciones meteorol칩gicas en tiempo real.",
    link: "https://github.com/CarlosJavMerino/AquaLog.git"
  }
];
---

<Layout title="Mis Proyectos">
    <section>
        <h1>Mis Trabajos 游눹</h1>
        <p class="intro">
            Aqu칤 detallo los proyectos en los que he trabajado, desde experimentos personales hasta aplicaciones completas.
        </p>
        
        <div class="grid">
            {projects.map((project) => (
                <Card 
                    title={project.title} 
                    body={project.description} 
                    href={project.link} 
                />
            ))}
        </div>
    </section>
</Layout>

<style>
    h1 { font-size: 3rem; margin-bottom: 0.5rem; }
    .intro { margin-bottom: 3rem; color: #ccc; max-width: 600px; }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
</style>